<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">{{report.victimName}}</h1>
    <hr/>
    <img [src]="'data:' + report.photosContentType + ';base64,' + report.photos" style="max-height: 200px;" alt="victim photo"/>
    <div class="victim-images" *ngFor="let victimPhoto of victimPhotos">
      <a *ngIf="victimPhoto.photo && victimPhoto.report.id == report.id" (click)="openFile(victimPhoto.photoContentType, victimPhoto.photo)">
        <img [src]="'data:' + victimPhoto.photoContentType + ';base64,' + victimPhoto.photo" style="max-height: 100px;" alt="victim photo"/>
      </a>
    </div><br>
    <div class="information">
      Last seen: {{report.lastSeen}}<br>
      Last known location: {{report.lastKnownLocation}}<br>
    </div>
    <a [routerLink]="['../../submitTip', report.id ]"><button class="btn btn-primary">Submit tip</button></a>
  </div>
  <div class="col-md-1"></div>
</div>
