.navbar {
    background-color: #000066 !important;
    border-radius: 0px;
}

.navbar a {
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    color: white;
}