<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Missing Persons</h1>
    <hr/>
    <div class="victim-images" *ngFor="let report of reports">
      <a *ngIf="report.photos" [routerLink]="['../missing-person-detail', report.id ]">
        <img [src]="'data:' + report.photosContentType + ';base64,' + report.photos" style="max-height: 100px;" alt="report image"/>
      </a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
